<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./../output.css">
    
    <title>Document</title>
</head>
<body class="relative w-full min-h-dvh bg-blue">
    <header class="container flex flex-col mx-auto mb-10">
        <div class="px-6 py-[0.625rem] flex items-center justify-between">
            <a href="">
                <img class="justify-start aspect-[8/6] w-20" src="../assets/img/logo.svg" alt="Лого">
            </a>
            <div class="flex items-center justify-center justify-between w-1/2">
                <a class="font-nunito text-[2rem] text-white" href="">кастом</a>
                <a class="font-nunito text-[2rem] text-white" href="">о нас</a>
                <a class="font-nunito text-[2rem] text-white" href="">доставка и оплата</a>
            </div>
            <div class="flex items-center justify-center justify-between gap-7">
                <a href="">
                    <img class="justify-end w-8 aspect-square" src="../assets/img/cart.svg" alt="Корзина">
                </a>
                <a href="">
                    <img class="justify-end w-8 aspect-square" src="../assets/img/login.svg" alt="Войти">
                </a>
            </div>
        </div>
        <hr class="border-none h-[0.125rem] bg-white">
    </header>

    <main class="container flex flex-col mx-auto ">
        <h1>ВАША КОРЗИНА</h1>
        <div class="bg- from-grad1 via-grad2 to-grad3">
            <div class="div">
                <img src="../assets/img/card1.png" alt="карта">
                <div class="flex flex-col w-1/2"><p>Видеокарта: Colorful GeForce RTX 3060 Ultra W ОС 12G L-V, LHR
                    Дизайн: Розовое дерево</p>
                <div>
                <p>-</p>
                <p>1</p>
                <p>+</p>
                </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container flex justify-between gap-16 mx-auto pt-14 pb-28">
        <div class="flex flex-col gap-3">
            <img class="w-32" src="../assets/img/logo.svg" alt="">
            <div class="flex gap-2">
               <img class="size-9" src="../assets/img/telegram.svg" alt=""> 
               <img class="size-9" src="../assets/img/vk.svg" alt=""> 
               <img class="size-9" src="../assets/img/whatsapp.svg" alt=""> 
            </div>
            <a class="flex font-bold text-white2 font-nunito text-m" href="">
                <img class="mr-1 " src="../assets/img/mail.svg" alt="">
                pixelcore@yandex.ru
            </a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">

            <a class="text-4xl" href="">каталог</a>
            <a href="">выбор дизайна</a>
            <a href="">выбор видеокарты</a>
            <a href="">оформление заказа</a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">

            <a class="text-4xl" href="">о нас</a>
            <a href="">цель</a>
            <a href="">команда</a>
            <a href="">этапы работы</a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">
            <a class="text-4xl" href="">доставка и оплата</a>
            <a href="">доставка, оплата, гарантия и возврат</a>
            <a href="">отправка своей видеокарты</a>
            <a href="">физический адрес</a>
        </div>

    </footer>

    <div class="absolute bg-black opacity-25 min-h-dvh w-100 "></div>
</body>
</html>