<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./../output.css">
    
    <title>Document</title>
</head>
<body class="w-full min-h-dvh bg-blue">
    <header class="container flex flex-col mx-auto mb-10">
        <div class="px-6 py-[0.625rem] flex items-center justify-between">
            <a href="">
                <img class="justify-start aspect-[8/6] w-20" src="../assets/img/logo.svg" alt="Лого">
            </a>
            <div class="flex items-center justify-center justify-between w-1/2">
                <a class="font-nunito text-[2rem] text-white" href="">кастом</a>
                <a class="font-nunito text-[2rem] text-white" href="">о нас</a>
                <a class="font-nunito text-[2rem] text-white" href="">доставка и оплата</a>
            </div>
            <div class="flex items-center justify-center justify-between gap-7">
                <a href="">
                    <img class="justify-end w-8 aspect-square" src="../assets/img/cart.svg" alt="Корзина">
                </a>
                <a href="">
                    <img class="justify-end w-8 aspect-square" src="../assets/img/login.svg" alt="Войти">
                </a>
            </div>
        </div>
        <hr class="border-none h-[0.125rem] bg-white">
    </header>

    <img class="mx-auto" src="../assets/img/delivery.png" alt="">

    <div class="container flex flex-col justify-center mx-auto ">
        <div class="flex flex-row">
        <div class="card-gradient w-1/3">
        <h1 class="mx-auto my-8 text-5xl font-medium text-white2 drop-shadow-3xl font-nunito">Доставка</h1>

        </div>

        </div>
        <h1 class="mx-auto my-8 text-5xl font-medium text-white2 drop-shadow-3xl font-openSans">ФИЗИЧЕСКИЙ АДРЕС</h1>
        <div class="flex gap-14 justify-center">

            <div class="w-fit rounded-3xl" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/62/krasnoyarsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Красноярск</a><a href="https://yandex.ru/maps/62/krasnoyarsk/house/ulitsa_belinskogo_8/bUsYfwdhTUQEQFtsfXxzcX1kYA==/?indoorLevel=1&ll=92.901413%2C56.020175&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Белинского, 8 на карте Красноярска — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=92.901413%2C56.020175&mode=whatshere&whatshere%5Bpoint%5D=92.901413%2C56.020174&whatshere%5Bzoom%5D=17&z=17" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            <p class="w-1/3 mb-6 ml-10 text-3xl text-white2 font-nunito">Мы находимся по адресу: г. Красноярск, ул. Белинского 8, этаж 1 (Торговый центр Комсомолл).
                Если вы живёте в Красноярске,вы можете забрать свои покупки самостоятельно.
                Мы работаем с 10:00 до 20:00 с понедельника по пятницу и с 11:00 до 17:00 в выходные </p>
        </div>
    </div>

    <footer class="container flex justify-between gap-16 mx-auto pt-14 pb-28">
        <div class="flex flex-col gap-3">
            <img class="w-32" src="../assets/img/logo.svg" alt="">
            <div class="flex gap-2">
               <img class="size-9" src="../assets/img/telegram.svg" alt=""> 
               <img class="size-9" src="../assets/img/vk.svg" alt=""> 
               <img class="size-9" src="../assets/img/whatsapp.svg" alt=""> 
            </div>
            <a class="flex font-bold text-white2 font-nunito text-m" href="">
                <img class="mr-1 " src="../assets/img/mail.svg" alt="">
                pixelcore@yandex.ru
            </a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">

            <a class="text-4xl" href="">каталог</a>
            <a href="">выбор дизайна</a>
            <a href="">выбор видеокарты</a>
            <a href="">оформление заказа</a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">

            <a class="text-4xl" href="">о нас</a>
            <a href="">цель</a>
            <a href="">команда</a>
            <a href="">этапы работы</a>
        </div>
        <div class="flex flex-col text-2xl font-medium font-nunito text-white2">
            <a class="text-4xl" href="">доставка и оплата</a>
            <a href="">доставка, оплата, гарантия и возврат</a>
            <a href="">отправка своей видеокарты</a>
            <a href="">физический адрес</a>
        </div>

    </footer>

</body>
</html>